<div id="wrapper">
  <!-- preloader -->
  <div id="preloader">
    <div id="spinner">
      <img src="/images/preloaders/1.gif" alt="">
    </div>
    <div id="disable-preloader" class="btn btn-default btn-sm">Disable Preloader</div>
  </div>

  <!-- Header -->
  <?php include("pages/includes/layout/header.php"); ?>
  
  <!-- Start main-content -->
  <div class="main-content">

    <!-- Section: inner-header -->
    <section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="./images/about-header-bg.jpg">
      <div class="container pt-100 pb-50">
        <!-- Section Content -->
        <div class="section-content pt-100">
          <div class="row"> 
            <div class="col-md-12">
              <h3 class="title text-white">关于威肯</h3>
            </div>
          </div>
        </div>
      </div>
    </section>
    <br><br><br><br>
    <!-- About -->
    <section class="about">
      <div class="container pt-0">
        <div class="section-content">
          <div class="row">
            <div class="col-md-12 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.3s">
              <h2 class="text-uppercase">威肯专业美发产品</h2>
              <p><span class="dropcap">马来西亚（VLKEN）威肯专业美发产品创立为2004年。威肯旗下的专业美发产品遍及马来西亚十三个州。邻国新加波，印尼热卖中。<br>2016年9月份，在中国以广州威妮肯（VNYKEN）生物科技有限公司，正式开拓中国市场。威肯（VLKEN）拥有80多个优质产品，一直保持及不断创新，以让产品达到最佳的用后效果</p>
              <p>
                十三年的品质保证，可靠，专业；受到许多的专业沙龙，专业美发师认可及推崇，也带动了马来西亚的专业美发产品的前进。
              </p>
              <p>
                <div class="row">
                  <div class="col-md-6">
                  <h3>四个系列的产品：</h3>
                    <ol class="list-group">
                        <li class="list-group-item">
                            <p>1. VLUTASE无硫酸盐／无硅油 修护系列</p>
                        </li>
                        <li class="list-group-item">
                            <p>2. K2滋润系列</p>
                        </li>
                        <li class="list-group-item">
                            <p>3. K2有机系列</p>
                        </li>
                        <li class="list-group-item">
                            <p>4. K2弹性系列</p>
                        </li>
                    </ol>
                  </div>
                  <div class="col-md-6">
                  <h3>威肯坚持守着四大原则：</h3>
                    <ol class="list-group">
                        <li class="list-group-item">
                            <p>1. 顾客第一</p>
                        </li>
                        <li class="list-group-item">
                            <p>2. 品质保证</p>
                        </li>
                        <li class="list-group-item">
                            <p>3. 忠诚可靠</p>
                        </li>
                        <li class="list-group-item">
                            <p>4. 服务快捷</p>
                        </li>
                    </ol>
                  </div>
                </div>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Section: About -->
    <section id="about">
      <div class="container pb-60 pt-sm-70 pb-sm-30">
        <div class="section-content">
          <div class="row">
            <div class="col-md-4 mb-sm-40">
              <div class="thumb border-effect">
                <img alt="" src="/images/about-us-05.jpg" class="img-fullwidth">
              </div>
              <div data-margin-top="-30px" class="relative z-index1" style="margin-top: -30px;">
                <h4 class="text-uppercase letter-space-3 bg-black  font-weight-400 pl-20 pr-20 pt-5 pb-5 display-inline mb-10">
                  <a class="text-white" href="#">VLKEN 威肯 （马来西亚）</a>
                </h4>
              </div>
            </div>
            <div class="col-md-4 mb-sm-40">
              <div class="thumb border-effect">
                <img alt="" src="/images/about-us-02.jpg" class="img-fullwidth">
              </div>
              <div data-margin-top="-30px" class="relative z-index1" style="margin-top: -30px;">
                <h4 class="text-uppercase letter-space-3 bg-black  font-weight-400 pl-20 pr-20 pt-5 pb-5 display-inline mb-10">
                  <a class="text-white" href="#">VNYKEN 威妮肯 （中国广州）</a>
                </h4>
              </div>
            </div>
            <div class="col-md-4 mb-sm-40">
              <div class="thumb border-effect">
                <img alt="" src="/images/about-us-01.jpg" class="img-fullwidth">
              </div>
              <div data-margin-top="-30px" class="relative z-index1" style="margin-top: -30px;">
                <h4 class="text-uppercase letter-space-3 bg-black  font-weight-400 pl-20 pr-20 pt-5 pb-5 display-inline mb-10">
                  <a class="text-white" href="#">创办人：KEN FUNG</a>
                </h4>
              </div>
            </div>
            <div class="col-md-4 mb-sm-40">
              <div class="thumb border-effect">
                <img alt="" src="/images/about-us-06.jpg" class="img-fullwidth">
              </div>
              <div data-margin-top="-30px" class="relative z-index1" style="margin-top: -30px;">
                <h4 class="text-uppercase letter-space-3 bg-black  font-weight-400 pl-20 pr-20 pt-5 pb-5 display-inline mb-10">
                  <a class="text-white" href="#">创立时间：2004年</a>
                </h4>
              </div>            </div>
            <div class="col-md-4 mb-sm-40">
              <div class="thumb border-effect">
                <img alt="" src="/images/about-us-04.jpg" class="img-fullwidth">
              </div>
              <div data-margin-top="-30px" class="relative z-index1" style="margin-top: -30px;">
                <h4 class="text-uppercase letter-space-3 bg-black  font-weight-400 pl-20 pr-20 pt-5 pb-5 display-inline mb-10">
                  <a class="text-white" href="#">外商独资 （马来西亚）</a>
                </h4>
              </div>
            </div>
            <div class="col-md-4 mb-sm-40">
              <div class="thumb border-effect">
                <img alt="" src="/images/about-us-03.jpg" class="img-fullwidth">
              </div>
              <div data-margin-top="-30px" class="relative z-index1" style="margin-top: -30px;">
                <h4 class="text-uppercase letter-space-3 bg-black  font-weight-400 pl-20 pr-20 pt-5 pb-5 display-inline mb-10">
                  <a class="text-white" href="#">外资公司 （中国）</a>
                </h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>
  <!-- end main-content -->
  
  <!-- Footer -->
  <?php include("pages/includes/layout/footer.php"); ?>
  
  <a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a> </div>
  <!-- end wrapper --> 

<!-- Footer Scripts --> 
<!-- JS | Custom script for all pages --> 
<script src="js/custom.js"></script>