<div id="wrapper">
  
  <!-- Header -->
  <?php include("pages/includes/layout/header.php"); ?>
  
  <!-- Start main-content -->
  <div class="main-content">
    <!-- Section: home -->
    <section id="home">
      <div class="container-fluid p-0">
        
        <!-- Slider Revolution Start -->
        <div class="rev_slider_wrapper">
          <div class="rev_slider" data-version="5.0">
            <ul>

              <!-- SLIDE 1 -->
              <li data-index="rs-1" data-transition="slidingoverlayhorizontal" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="/images/slider-bg-01.jpg" data-rotate="0" data-saveperformance="off" data-title="Web Show" data-description="">
                <!-- MAIN IMAGE -->
                <img src="/images/slider-bg-01.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-bgparallax="6" data-no-retina>
                <!-- LAYERS -->

                <!-- LAYER NR. 1 -->
                <div class="tp-caption tp-resizeme text-theme-colored text-uppercase font-playfair font-weight-600" 
                  id="rs-1-layer-1"

                  data-x="['right']"
                  data-hoffset="['30']"
                  data-y="['middle']"
                  data-voffset="['-160']"
                  data-fontsize="['100']"
                  data-lineheight="['114']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;s:500"
                  data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                  data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                  data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                  data-start="1000" 
                  data-splitin="none" 
                  data-splitout="none" 
                  data-responsive_offset="on" 
                  style="z-index: 5; white-space: nowrap; font-weight:700;">活力 自信
                </div>

                <!-- LAYER NR. 2 -->
                <div class="tp-caption tp-resizeme font-playfair text-white font-weight-400 m-0" 
                  id="rs-1-layer-2"

                  data-x="['right']"
                  data-hoffset="['30']"
                  data-y="['middle']"
                  data-voffset="['-80']"
                  data-fontsize="['40']"
                  data-lineheight="['78']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;s:500"
                  data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                  data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                  data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                  data-start="1000" 
                  data-splitin="none" 
                  data-splitout="none" 
                  data-responsive_offset="on" 
                  style="z-index: 5; white-space: nowrap; font-weight:700;">保持与不断创新
                </div>

                <!-- LAYER NR. 3 -->
                <div class="tp-caption tp-resizeme text-right font-raleway text-white" 
                  id="rs-1-layer-3"

                  data-x="['right']"
                  data-hoffset="['30']"
                  data-y="['middle']"
                  data-voffset="['0']"
                  data-fontsize="['18']"
                  data-lineheight="['34']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;s:500"
                  data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                  data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                  data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                  data-start="1400" 
                  data-splitin="none" 
                  data-splitout="none" 
                  data-responsive_offset="on"
                  style="z-index: 5; white-space: nowrap; font-weight:300;">十三年的品质保证, 可靠. 专业.<br>受到许多的专业沙龙 专业美发师认可及推崇.
                </div>

                <!-- LAYER NR. 4 -->
                <div class="tp-caption tp-resizeme" 
                  id="rs-1-layer-4"

                  data-x="['right']"
                  data-hoffset="['30']"
                  data-y="['middle']"
                  data-voffset="['80']"

                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;s:500"
                  data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                  data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                  data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                  data-start="1600" 
                  data-splitin="none" 
                  data-splitout="none" 
                  data-responsive_offset="on"
                  style="z-index: 5; white-space: nowrap; letter-spacing:1px;"><a class="btn btn-default btn-transparent btn-circled mr-10" href="/contact-us"><i class="fa fa-envelope fa-fw" aria-hidden="true"></i> 与我们联系</a>
                </div>
              </li>

              <!-- SLIDE 2 -->
              <li data-index="rs-2" data-transition="slidingoverlayhorizontal" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="/images/slider-bg-02.jpg" data-rotate="0" data-saveperformance="off" data-title="Web Show" data-description="">
                <!-- MAIN IMAGE -->
                <img src="/images/slider-bg-02.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-bgparallax="6" data-no-retina>
                <!-- LAYERS -->

                <!-- LAYER NR. 1 -->
                <div class="tp-caption tp-resizeme text-uppercase font-playfair text-center text-white" 
                  id="rs-2-layer-1"

                  data-x="['center']"
                  data-hoffset="['0']"
                  data-y="['320']"
                  data-voffset="['-80']"
                  data-fontsize="['70']"
                  data-lineheight="['95']"

                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;s:500"
                  data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                  data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                  data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                  data-start="1000" 
                  data-splitin="none" 
                  data-splitout="none" 
                  data-responsive_offset="on"
                  style="z-index: 5; white-space: nowrap; font-weight:700;">无硫酸盐／无硅油
                </div>

                <!-- LAYER NR. 2 -->
                <div class="tp-caption tp-resizeme text-center font-raleway text-black-333" 
                  id="rs-2-layer-2"

                  data-x="['center']"
                  data-hoffset="['0']"
                  data-y="['430']"
                  data-voffset="['0']"
                  data-fontsize="['24']"
                  data-lineheight="['34']"

                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;s:500"
                  data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                  data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                  data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                  data-start="1200" 
                  data-splitin="none" 
                  data-splitout="none" 
                  data-responsive_offset="on"
                  style="z-index: 5; white-space: nowrap; font-weight:500;">不含硫酸盐类和羟苯酯类成分<br>温和清洁化学处理受损的发质<br>补充水分与保护免受恶劣的日常环境影响
                </div>

              </li>

              <!-- SLIDE 3 -->
              <li data-index="rs-3" data-transition="slidingoverlayhorizontal" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="/images/slider-bg-03.jpg" data-rotate="0" data-saveperformance="off" data-title="Web Show" data-description="">
                <!-- MAIN IMAGE -->
                <img src="/images/slider-bg-03.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-bgparallax="6" data-no-retina>
                <!-- LAYERS -->

                <!-- LAYER NR. 1 -->
                <div class="tp-caption tp-resizeme text-black-777 text-uppercase font-playfair font-weight-600" 
                  id="rs-3-layer-1"

                  data-x="['left']"
                  data-hoffset="['30']"
                  data-y="['middle']"
                  data-voffset="['-160']"
                  data-fontsize="['100']"
                  data-lineheight="['114']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;s:500"
                  data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                  data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                  data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                  data-start="1000" 
                  data-splitin="none" 
                  data-splitout="none" 
                  data-responsive_offset="on" 
                  style="z-index: 5; white-space: nowrap; font-weight:700;background-color: rgba(0,0,0,0.5);padding:20px;color: #fff !important;">品质保证
                </div>

                <!-- LAYER NR. 2 -->
                <div class="tp-caption tp-resizeme font-playfair text-black-333 font-weight-400 m-0" 
                  id="rs-3-layer-2"

                  data-x="['left']"
                  data-hoffset="['30']"
                  data-y="['400']"
                  data-voffset="['-80']"
                  data-fontsize="['30']"
                  data-lineheight="['78']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;s:500"
                  data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                  data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                  data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                  data-start="1000" 
                  data-splitin="none" 
                  data-splitout="none" 
                  data-responsive_offset="on" 
                  style="z-index: 5; white-space: nowrap; font-weight:700;background-color: rgba(0,0,0,0.5);padding:20px;color: #fff !important;">威肯坚持守着四大原则
                </div>

                <!-- LAYER NR. 3 -->
                <div class="tp-caption tp-resizeme font-raleway text-black-333" 
                  id="rs-3-layer-3"

                  data-x="['right']"
                  data-hoffset="['100']"
                  data-y="['200']"
                  data-voffset="['0']"
                  data-fontsize="['28']"
                  data-lineheight="['30']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;s:500"
                  data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                  data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                  data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                  data-start="1400" 
                  data-splitin="none" 
                  data-splitout="none" 
                  data-responsive_offset="on"
                  style="z-index: 5; white-space: nowrap; font-weight:300;background-color: rgba(0,0,0,0.5);padding:20px;color: #fff !important;">1. 顾客第一<br>2. 忠诚可靠<br>3. 品质保证<br>4. 服务快捷
                </div>
              </li>

            </ul>
          </div><!-- end .rev_slider -->
        </div>
        <!-- end .rev_slider_wrapper -->
        <script>
          $(document).ready(function(e) {
            var revapi = $(".rev_slider").revolution({
              sliderType:"standard",
              jsFileLocation: "js/revolution-slider/js/",
              sliderLayout: "fullscreen",
              dottedOverlay: "none",
              delay: 5000,
              navigation: {
                  keyboardNavigation: "off",
                  keyboard_direction: "horizontal",
                  mouseScrollNavigation: "off",
                  onHoverStop: "off",
                  touch: {
                      touchenabled: "on",
                      swipe_threshold: 75,
                      swipe_min_touches: 1,
                      swipe_direction: "horizontal",
                      drag_block_vertical: false
                  },
                  arrows: {
                      style: "gyges",
                      enable: true,
                      hide_onmobile: false,
                      hide_onleave: true,
                      hide_delay: 200,
                      hide_delay_mobile: 1200,
                      tmp: '',
                      left: {
                          h_align: "left",
                          v_align: "center",
                          h_offset: 0,
                          v_offset: 0
                      },
                      right: {
                          h_align: "right",
                          v_align: "center",
                          h_offset: 0,
                          v_offset: 0
                      }
                  },
                    bullets: {
                    enable: true,
                    hide_onmobile: true,
                    hide_under: 800,
                    style: "hebe",
                    hide_onleave: false,
                    direction: "horizontal",
                    h_align: "center",
                    v_align: "bottom",
                    h_offset: 0,
                    v_offset: 30,
                    space: 5,
                    tmp: '<span class="tp-bullet-image"></span><span class="tp-bullet-imageoverlay"></span><span class="tp-bullet-title"></span>'
                }
              },
              responsiveLevels: [1240, 1024, 778],
              visibilityLevels: [1240, 1024, 778],
              gridwidth: [1170, 1024, 778, 480],
              gridheight: [710, 768, 960, 720],
              lazyType: "none",
              parallax:"mouse",
              parallaxBgFreeze:"off",
              parallaxLevels:[2,3,4,5,6,7,8,9,10,1],
              shadow: 0,
              spinner: "off",
              stopLoop: "on",
              stopAfterLoops: 0,
              stopAtSlide: -1,
              shuffle: "off",
              autoHeight: "off",
              fullScreenAutoWidth: "off",
              fullScreenAlignForce: "off",
              fullScreenOffsetContainer: "",
              fullScreenOffset: "0",
              hideThumbsOnMobile: "off",
              hideSliderAtLimit: 0,
              hideCaptionAtLimit: 0,
              hideAllCaptionAtLilmit: 0,
              debugMode: false,
              fallbacks: {
                  simplifyAll: "off",
                  nextSlideOnWindowFocus: "off",
                  disableFocusListener: false,
              }
            });
          });
        </script>
        <!-- Slider Revolution Ends -->
      </div>
    </section>

    <!-- Section: welcome -->
    <section id="welcome">
      <div class="container">
        <div class="section-content">
          <div class="row equal-height-inner">
            <div class="col-sm-12 col-md-6 p-0 p-xs-10 sm-height-auto mt-sm-0" data-margin-top="-200px">
              <div class="text-black sm-height-auto" data-bg-img="/images/handshake.jpg">
                <div class="p-20 pl-50 pr-50">
                  <h3 class="text-white text-uppercase">欢迎成为我们的<br>加盟商</h3>
                  <p class="text-white">威肯拥有八十多种优质产品<br>遍及马来西亚十三个州及东南亚邻国</p>
                  <a href="/partners" class="btn btn-dark btn-md btn-flat mt-10 hvr-bounce-to-left no-border">更多</a>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 p-0 p-xs-10 sm-height-auto mt-sm-0" data-margin-top="-200px">
              <div class="text-black mt-sm-10 sm-height-auto" data-bg-img="/images/home-vlutase.jpg">
                <div class="p-20 pl-50 pr-50">
                  <h3 class="text-white text-uppercase">最新产品<br>VLUTASE无硫酸盐无硅油 修护系列</h3>
                  <div class="line-bottom mb-10"></div>
                  <div class="opening-hours">
                    <p><span class="text-white">蕴含澳洲坚果籽油<br>适合所有类型的头发</span></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <!-- About -->
    <section class="about">
      <div class="container pt-0">
        <div class="section-content">
          <div class="row">
            <div class="col-md-6 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.3s">
              <h5 class="letter-space-8 text-uppercase text-theme-colored">欢迎浏览威肯专业美发产品网站</h5>
              <h2 class="text-uppercase">威肯专业美发产品</h2>
              <p><span class="dropcap">2004年至2016年, 威肯不断的创新, 研发适合于东方人发质的洗护系列.<br>从最初的K2滋润系列, K2有机系列, K2弹性系列至VLUTASE威露丝 无硫酸盐 坚果油修护系列. <b>威肯的宗旨是让产品达到最佳用后效果为目标来回馈客户们</b></p>
              <a href="/about-us" class="btn btn-theme-colored btn-flat mt-10">更多</a>
            </div>
            <div class="col-md-6 wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.3s">
              <img class="img-fullwidth" src="/images/home-about-img.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Section: Divider  -->
    <section class="divider parallax layer-overlay overlay-black" data-bg-img="/images/customer-service.jpg" data-parallax-ratio="0.7">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
            <div class="section-content text-center">
              <h2 class="text-white letter-space-4 font-36"><span class="text-theme-colored">来吧!</span> 请联络威肯</h2>
              <h3 class="text-white text-uppercase font-weight-300 mt-0">值得你拥有的美发专业产品 K2威露丝</h3>
              <a href="/contact-us" class="btn btn-theme-colored btn-flat mt-10 btn-xl text-uppercase"><i class="fa fa-envelope fa-fw" aria-hidden="true"></i> 与我们联系</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Section: Pricing -->
    <section class="pricing">
      <div class="container">
        <div class="section-title text-center">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <h2 class="text-uppercase title" >产品 <span class="text-black font-weight-300">系列</span></h2>
              <p class="text-uppercase letter-space-4">属于东方人各种不同性质的发质</p>
            </div>
          </div>
        </div>
        <div class="section-content">
          <div class="row">
            <div class="col-md-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
              <div class="row">
                <div class="col-md-6">
                  <div class="pricing-table mb-30">
                    <div class="package-type">
                      <div class="thumb pull-left mr-20 mb-20">
                        <img class="img-circle border-rounded border-8px" width="150" src="/images/vlutase-200.jpg" alt="">
                      </div>
                      <div class="price pt-30">
                        <h5 class="text-uppercase letter-space-2">VLUTASE</h5>
                        <span class="font-weight-800 font-24 text-center text-theme-colored">无硫酸盐 无硅油系列</span>
                      </div>
                      <div class="clearfix"></div>
                      <div class="">
                        <p>无硫酸盐／无硅油就是用别的成分替代硫酸盐来完成起泡作用／代替硅油完成滋润作用。现今氨基酸表活已作为高端洗发护理产品在国际上流行，其无刺激、天然和健康。</p>
                        <a class="btn btn-lg btn-colored btn-theme-colored text-uppercase btn-block btn-flat mt-20" href="/category/vlutase无硫酸盐-修护系列"><i class="fa fa-search fa-fw" aria-hidden="true"></i> 浏览系列</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="pricing-table mb-30">
                    <div class="package-type">
                      <div class="thumb pull-left mr-20 mb-20">
                        <img class="img-circle border-rounded border-8px" width="150" src="/images/k2-organic-200.jpg" alt="">
                      </div>
                      <div class="price pt-30">
                        <h5 class="text-uppercase letter-space-2">天然无伤害</h5>
                        <span class="font-weight-800 font-24 text-center text-theme-colored">K2有机系列</span>
                      </div>
                      <div class="clearfix"></div>
                      <div class="">
                        <p>产品均由天然草本植物提取，不含硫酸月桂酸钠 不含人造香料，不含动物性成分，不含强烈的清洁成分，不含石油化学品，不含人造色素，不含三乙醇胺，不含矿物油。</p>
                        <a class="btn btn-lg btn-colored btn-theme-colored text-uppercase btn-block btn-flat mt-20" href="/category/k2有机系列"><i class="fa fa-search fa-fw" aria-hidden="true"></i> 浏览系列</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="pricing-table mb-30">
                    <div class="package-type">
                      <div class="thumb pull-left mr-20 mb-20">
                        <img class="img-circle border-rounded border-8px" width="150" src="/images/k2-moisture-200.jpg" alt="">
                      </div>
                      <div class="price pt-30">
                        <h5 class="text-uppercase letter-space-2">回复柔顺光泽</h5>
                        <span class="font-weight-800 font-24 text-center text-theme-colored">K2滋润系列</span>
                      </div>
                      <div class="clearfix"></div>
                      <div class="">
                        <p>滋润发根至发尾。可以做到一定的修补性作用令秀发亮丽绽放。可以让您感觉到您的秀发无时无刻的被细致呵护。</p>
                        <a class="btn btn-lg btn-colored btn-theme-colored text-uppercase btn-block btn-flat mt-20" href="/category/k2滋润系列"><i class="fa fa-search fa-fw" aria-hidden="true"></i> 浏览系列</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="pricing-table mb-30">
                    <div class="package-type">
                      <div class="thumb pull-left mr-20 mb-20">
                        <img class="img-circle border-rounded border-8px" width="150" src="/images/k2-elastic-200.jpg" alt="">
                      </div>
                      <div class="price pt-30">
                        <h5 class="text-uppercase letter-space-2">回复弹性</h5>
                        <span class="font-weight-800 font-24 text-center text-theme-colored">K2弹性系列</span>
                      </div>
                      <div class="clearfix"></div>
                      <div class="">
                        <p>因烫发，染发，拉直，吹发，导致受损及干燥的发质，使用了弹性系列可以改善养分不足的发质变得更有弹性光滑亮泽。</p>
                        <a class="btn btn-lg btn-colored btn-theme-colored text-uppercase btn-block btn-flat mt-20" href="/category/k2弹性系列"><i class="fa fa-search fa-fw" aria-hidden="true"></i>浏览系列</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


  <!-- end main-content -->
  
  <!-- Footer -->
  <?php include("pages/includes/layout/footer.php"); ?>

  <a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
</div>
<!-- end wrapper --> 